<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bq.edmp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.azhyun.saas.erp.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".ProApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".work.returnsmanagement.activity.ApplyForRefundActivity"></activity>
        <activity android:name=".work.returnsmanagement.activity.AddReturnsGoodsActivity" />
        <activity android:name=".work.marketingactivities.activity.ActivitySiteActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/filepaths" />

        <activity
            android:name=".work.marketing.activity.EditCustomerDetailsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".work.marketing.activity.CustomerDetailsActivity" />
        <activity
            android:name=".work.allocation.AllocationCompleteActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".work.allocation.ApprovalInActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".work.allocation.AllocationApprovalActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".work.allocation.AllocationApplyActivity" />
        <activity android:name=".work.detection.DetectionParticularsActivity" />
        <activity android:name=".work.detection.DetectionRecordListActivity" />
        <activity
            android:name=".work.detection.NewDetectionActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".work.marketing.activity.AddCustomerActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity android:name=".work.marketing.activity.CustomerAccountActivity" />
        <activity
            android:name=".work.marketing.activity.CustomerAccountListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".work.marketing.activity.CustomerManagementListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".work.marketing.activity.CustomerInquirytListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".work.goodsgrainmanagement.activity.GoodsSalesManagementListActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".work.goodsgrainmanagement.activity.AddGoodsSalesActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".work.goodsgrainmanagement.activity.EditGoodsSalesActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".work.goodsgrainmanagement.activity.SelectGoodsListActivity" />
        <activity
            android:name=".work.goodsgrainmanagement.activity.GoodsSalesTrackingListActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".work.goodsgrainmanagement.activity.GoodsSalesConfirmListActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".work.goodsgrainmanagement.activity.GoodsSalesTrackingDetailsActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".work.marketing.activity.SalesContractListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".work.marketingactivities.activity.MarketingActivityManagementListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".work.returnsmanagement.activity.ReturnsManagementtListActivity"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".work.returnsmanagement.activity.ReturnsGoodsHistoricalDetailsActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".work.returnsmanagement.activity.EditApplyForRefundActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".work.returnsmanagement.activity.ReturnsGoodsListActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".work.returnsmanagement.activity.DeliverGoodsListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".work.returnsmanagement.activity.ReturnsGoodsHistoricalListActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".work.returnsmanagement.activity.ReturnsGoodsDetailsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".work.marketingactivities.activity.ActivitiesDetailsActivity" />
        <activity
            android:name=".work.marketingactivities.activity.AddActivitiesActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".work.marketingactivities.activity.EditActivitiesActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".work.marketingactivities.activity.HistoricalActivitiesDetailsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".work.marketingactivities.activity.HistoricalActivitiesListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".work.marketingactivities.activity.ActivityEnclosureActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".work.inventorytransfer.activity.FinishedProductAllocationDetailsActivity" />
        <activity android:name=".base.ServiceAndDemonstrateFieldWebViewActivity" />
        <activity android:name=".work.inventorytransfer.activity.AddTransferGoodsActivity" />
        <activity android:name=".work.inventorytransfer.activity.UpdateTransferGoodsActivity" />
        <activity
            android:name=".work.finished.DmachineActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".work.finished.JmachineActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".work.finished.MachineScanActivity" />
        <activity
            android:name=".work.finished.YmachineActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".work.library.activity.ClibraryActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".work.library.activity.CxlibraryActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".work.library.activity.LibraryListScanActivity" />
        <activity
            android:name=".work.library.activity.RlibraryActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".work.shipments.DshipmentsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".work.shipments.ShipmentsScanActivity" />
        <activity
            android:name=".work.shipments.YshipmentsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".work.inventorytransfer.activity.EditFinishedProductAllocationActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".work.inventorytransfer.activity.AddFinishedProductAllocationActivity" />
        <activity android:name=".work.finishedproduct.activity.FinishedWarehousingOutDetailActivity" />
        <activity android:name=".work.finishedproduct.activity.FinishedWarehousingDetailActivity" />
        <activity android:name=".login.GestureoneActivity" />
        <activity android:name=".work.finishedproduct.activity.FinishedStockDetailActivity" />
        <activity android:name=".work.finishedproduct.activity.DeliverGoodsDetailsActivity" />
        <activity
            android:name=".work.finishedproduct.activity.MachiningTaskDetailsActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".work.grainmanagement.activity.NewAcquisitionsSuccessActivity" />
        <activity android:name=".work.grainmanagement.activity.TraeSuccessActivity" />
        <activity android:name=".work.grainmanagement.activity.GrossWeightSuccessActivity" />
        <activity android:name=".work.grainmanagement.activity.UnloadingVerificationActivity" />
        <activity android:name=".work.grainmanagement.activity.StartWeighingActivity" />
        <activity android:name=".work.grainmanagement.activity.GrossWeightActivity" />
        <activity android:name=".work.grainmanagement.activity.TraeActivity" />
        <activity android:name=".login.GestureSettingLoginActivity" />
        <activity
            android:name=".work.grainmanagement.activity.NewAcquisitionsActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".work.grainmanagement.activity.TestScanActivity" />
        <activity android:name=".activity.ScheduleInformationActivity" />
        <activity android:name=".home.activity.UploadImageActivity" />
        <activity android:name=".home.activity.MessageNotificationListActivity" />
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".work.approvalmanagement.activity.AllocationApprovalActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity android:name=".activity.MainActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".activity.head_activity.Backlog_ShiXiang_Activity" />
        <activity android:name=".login.Control_Login_Activity" />
        <activity android:name=".login.Gestures_login_Activity" />
        <activity android:name=".word.activity.SubmitActivity" />
        <activity android:name=".activity.apply.activity.ApplyPayAccountAct" />
        <activity android:name=".activity.apply.ApplyPayAccountSecondAct" />
        <activity android:name=".activity.apply.AddPayInfoAct" />
        <activity android:name=".activity.apply.activity.UpdatePayInfoAct" />
        <activity android:name=".activity.apply.activity.UpdateDetailsPayInfoAct" />
        <activity android:name=".activity.apply.travel.activity.UpdateOtherExpensesAct" />
        <activity android:name=".activity.apply.travel.activity.UpdataAddTravelDayInfoAct" />
        <activity android:name=".activity.apply.travel.activity.UpdateTravelOtherExpensesAct" />
        <activity android:name=".activity.apply.activity.EditPayInfoDetailAct" />
        <activity android:name=".activity.apply.travel.activity.UpdataDetailAddTravelDayInfoAct" />
        <activity android:name=".activity.apply.activity.CopyPayInfoDetailAct" />
        <activity android:name=".activity.apply.PayInfoDetailAct" />
        <activity android:name=".activity.apply.travel.activity.ApplyTravelAccountAct" />
        <activity android:name=".activity.apply.travel.activity.TravelDetailAct" />
        <activity android:name=".activity.apply.travel.activity.EditTravelDetailAct" />
        <activity android:name=".activity.apply.travel.activity.CopyTravelDetailAct" />
        <activity android:name=".activity.apply.travel.ApplyTravelAccountSecondAct" />
        <activity android:name=".activity.apply.travel.AddTravelDayInfoAct" />
        <activity android:name=".activity.apply.travel.OtherExpensesAct" />
        <activity android:name=".mine.activty.Amend_Activity" />
        <activity android:name=".mine.activty.Message_Activity" />
        <activity android:name=".mine.activty.ModificationPasswordActivity" />
        <activity android:name=".addressbook.activity.AddressBook_Two_Activity" />
        <activity android:name=".addressbook.activity.SearchAddressBookActivity" />
        <activity android:name=".work.grainmanagement.activity.PrinterSettingActivity" />
        <activity android:name=".work.grainmanagement.activity.AcquisitionDetailAct" />
        <activity android:name=".work.grainmanagement.activity.WarehousingDetailAct" />
        <activity android:name=".work.grainmanagement.activity.WarehousingOutDetailAct" />
        <activity android:name=".work.grainmanagement.activity.StockDetailAct" />
        <activity android:name=".word.inventory.InventoryActivity" />
        <activity
            android:name=".word.put_warehouse.Put_WarehouseActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".word.activity.AuditActivity" />
        <activity
            android:name=".word.purchase.PurchaseListActivity"
            android:windowSoftInputMode="stateHidden" />

        <provider
            android:name=".utils.MyFileProvider"
            android:authorities="com.example.bq.edmp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".work.order.activity.ChooseCustomerActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".work.order.activity.GoodsListActivity" />
        <activity
            android:name=".work.order.activity.HistoryOrderActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".work.order.activity.ModifyOrderActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".work.order.activity.NewOrderActivity" />
        <activity android:name=".work.order.activity.Order_GL_Activity" />
        <activity android:name=".work.order.activity.OrderTrackingActivity" />
        <activity android:name=".work.order.activity.Order_Tracking_DetailsActivity" />


        <activity android:name=".work.reseller.activity.ResellerHistoryDetailsActivity"></activity>
        <activity android:name=".work.reseller.activity.ResellerHandleDetailsActivity" />
        <activity android:name=".work.reseller.activity.ResellerTrackDetailsActivity" />
        <activity android:name=".work.reseller.activity.AddResellerCommodityActivity" />
        <activity android:name=".work.reseller.activity.ApplyResellerAllocationTwoActivity" />
        <activity android:name=".work.reseller.activity.ApplyResellerAllocationActivity" />
        <activity android:name=".work.reseller.activity.ResellerHistoryActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".work.reseller.activity.ResellerHandleActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".work.reseller.activity.ResellerTrackActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".work.reseller.activity.ResellerApplyActivity" ></activity>
        <activity android:name=".work.tracking.activity.TrackingListActivity" />
        <activity android:name=".work.marketingactivities.activity.ActivitiesListActivity" />
        <activity
            android:name=".work.modelfield.activity.DemonstrationEetActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".work.modelfield.activity.DemonstrationDetailsActivity" />
        <activity android:name=".work.modelfield.activity.DemonstrationListActivity" />
        <activity android:name=".work.modelfield.activity.AddDemonstrationActivity" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
    </application>

</manifest>